<section class="py-5 bg-light">
    <div class="container-fluid px-0"> <!-- Use container-fluid for full width -->
        <div class="gx-5 justify-content-center">
            <div class="text-center">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My name is Miquel Vidal and I'm a Computer Engineer.</p>
                    <p class="align-text-center">
                        After starting my journey as a Full Stack Developer at RIU half a year ago, <br>where I maintained and enhanced internal and 
                        client-facing business projects, <br> I am now excited to take the next step in my career. <br>
                        Feel free to explore my resume and portfolio. <br> Let’s connect!
                    </p>
                </div>
                <div class="d-grid gap-3 d-sm-flex justify-content-center mb-3"> <!-- Center aligned buttons -->
                    <a class="btn btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/mvc/resume">Resume</a>
                    <a class="btn btn-lg px-5 py-3 fs-6 fw-bolder" href="/mvc/projects">Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>
